.login-buttons {
    display: flex; /* Flexbox kullanarak içerikleri yan yana hizala */
    align-items: center; /* Dikey yönde hizalamayı ortala */
  }

  .asl-google-signin-button,
img {
  width: 33px; /* İstediğiniz genişliği ayarlayın */
  height: 33px; /* İstediğiniz yüksekliği ayarlayın */
  margin-left: 6px;
}

.col-md-6 {
    margin-top: 50px; /* İstediğiniz boşluğu ayarlayın */
  }

  .custom-outline-btn {
    color:rgb(0, 51, 102);  
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 51, 102);  /* Hover durumunda çerçeve rengi */
  }

   .custom-btn {
    background-color: rgb(0, 51, 102); 
    color: rgb(0, 204, 153);
    border-color: rgb(0, 51, 102); /* Çerçeve rengi */
  }

  .custom-outline-btn:hover {
 
    background-color: rgb(0, 51, 102); color: rgb(0, 204, 153);
    border-color: rgb(0, 51, 102); /* Çerçeve rengi */
  }