<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="mb-3">
            <label for="email" class="form-label" style="margin-top: 5px;">Mail adresi</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" #txtEmail>
            <button type="button" class="btn custom-btn" style="margin-top: 10px;font-size: small"
             (click)="passwordReset(txtEmail.value)">Gönder</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
