<h2 mat-dialog-title>Sipariş Detayı</h2>
<mat-dialog-content class="mat-typography">

  <mat-toolbar>
    <span>Sipariş No : {{singleOrder.orderCode}}</span>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 order-detail-table">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{element.price | currency : '₺'}}</td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
    </ng-container>

    <!-- Total Price Column -->
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>Total Price</th>
      <td mat-cell *matCellDef="let element"> {{element.price * element.quantity | currency:'₺' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="clickedRows.add(row)" [class.order-detail-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


   
 
 <table style="width: 100%; margin-top: 20px;">
  <thead>
    <tr>
      <th class="bold" colspan="4" style="text-align:right;font-size: 20px; margin: 200px;"> Toplam Fiyat : {{totalPrice | currency:"₺"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <td style="text-align: right; font-size: 20px;">{{totalPrice | currency:"₺"}}</td> -->
    </tr>
    <tr>
      <td class="bold" style="text-align: right; font-size: 12px; margin-top: 10px; "><strong> Address : {{singleOrder.address}}</strong></td>
    </tr>
    <tr>
      <td class="bold" style="text-align: right; font-size: 12px; margin-top: 10px;"><strong>Description {{singleOrder.description}}</strong></td>
    </tr>
  </tbody>
 </table>
   
   
 

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Kapat</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Siparişi Tamamlama</button>
</mat-dialog-actions>